{% extends  "extension/component/layouts/form_layout.twig" %}

{% block content %}
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
            {{ save_section.input }}
            <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td class="text-left">مشتری</td>
                            <td class="text-right">مبلغ</td>
                            <td class="text-right">درگاه پرداخت</td>
                            <td class="text-right">وضعیت</td>
                            <td class="text-right">زمان</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% if online_deposits %}
                            {% for online_deposit in online_deposits %}
                                <tr>
                                    <td class="text-center">{{online_deposit.fullname}}</td>
                                    <td class="text-left">{{ online_deposit.price }}</td>
                                    <td class="text-right">{{ online_deposit.payment_method }}</td>
                                    <td class="text-right">{{ online_deposit.status == 2 ? 'پرداخت موفق': 'پرداخت ناموفق' }}</td>
                                    <td class="text-right">{{ online_deposit.date_added }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="text-center" colspan="5">{{ text_no_results }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>

        </form>
       
{% endblock %}
